@using CarLeasePPT.Utility
@model HandleErrorInfo
@{
    ViewBag.Title = Resources.Error_FiveHundred_Title;
}

<div class="jumbotron">
    <h2>@Resources.Error_FiveHundred_Title</h2>
    <p class="lead">@Resources.Error_FiveHundred_Lead</p>
    <p>@Resources.Error_FiveHundred_Message</p>
</div>