@using CarLeasePPT.Utility
@{
    Layout = "~/Views/Shared/_LayoutAlternate.cshtml";
    ViewBag.Title = Resources.Account_SessionTerminated_Title;
}

<div class="row">
    <div class="col-lg-6 offset-3">
        <div class="card mb-3">
            <h5 class="card-header text-center">@Resources.Account_SessionTerminated_Title</h5>
            <div class="card-body">
                <p class="card-text">@Resources.Account_SessionTerminated_Message</p>
                <p>@Html.ActionLink(string.Format(Resources.Common_ReturnTo_Link, Resources.Account_Login_Link), "Login", "Account", null, new {@class = "btn btn-secondary"})</p>
            </div>
        </div>
    </div>
</div>