@using CarLeasePPT.Utility
@{
    ViewBag.Title = Resources.Error_FourOhFour_Title;
}

<div class="jumbotron">
    <h2>@Resources.Error_FourOhFour_Title</h2>
    <p class="lead">@Resources.Error_FourOhFour_Lead</p>
    <p>@Resources.Error_FourOhFour_Message</p>
</div>