<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="HexaEntities" connectionString="metadata=res://*/HexaModel.csdl|res://*/HexaModel.ssdl|res://*/HexaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADC-SQL-TMST01;initial catalog=SALT_LVT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add xdt:Locator="Match(name)" xdt:Transform="SetAttributes" name="HexaNLog" connectionString="data source=ADC-SQL-TMST01;initial catalog=SALT_LVT;integrated security=True;" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Insert"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="Insert" />
    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <clear />
        <add name="Content-Security-Policy" value="default-src 'self'; img-src data: 'self';" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="no-referrer" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <rewrite xdt:Transform="Insert">
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove Server header" enabled="true">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Rewrite X-Frame-Options" enabled="true">
          <match serverVariable="RESPONSE_X_Frame_Options" pattern=".+" />
          <action type="Rewrite" value="DENY" />
        </rule>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains;" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>